# 6장 데이터 로딩과 저장, 파일 형식

In [29]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)
plt.rcParams["font.family"] = 'Malgun Gothic'

# 1. csv 텍스트 데이터
## 1.1 csv파일 읽기
* 판다스에서 CSV 파일을 읽기: pd.read_csv(path, encoding = 'utf-8') 함수를 사용
    * path 인수 : 파일시스템에서의 위치, URL, 파일객체를 나타내는 문자열
    * encoding 인수 - 유니코드 인코딩 종류을 지정

    1) header(컬럼명)가 있는 파일

In [5]:
#!cat examples/ex1.csv

df = pd.read_csv("examples/ex1.csv") # 데이터프레임으로 반환
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    2) header가 없는 파일 : 컬럼을 지정
        * names 인수 - 열 이름 리스트
        * header 인수 - 헤더가 없을 경우 None으로 지정

In [12]:
# !cat examples/ex2.csv
names = ["a", "b", "c", "d", "message"]
pd.read_csv("examples/ex2.csv", names=names)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    3) 계층적 색인 지정하기
        * index_col 인수 - 색인으로 사용할 열 번호나 이름, 계층적 색인을 지정할 경우 리스트

In [14]:
# !cat examples/csv_mindex.csv
parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1", "key2"])
parsed.columns

Index(['value1', 'value2'], dtype='object')

    4) 여러 개의 공백으로 필드를 구분한 파일 
        * sep 인수 - 필드을 구분하기 위해 사용할 정규 표현식

In [16]:
# !cat examples/ex3.txt
result = pd.read_csv("examples/ex3.txt", sep="\s+")
result

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Yeon Je Chan\AppData\Local\Temp\ipykernel_13624\3254688521.py:2: SyntaxWarning: invalid escape sequence '\s'
  result = pd.read_csv("examples/ex3.txt", sep="\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

    5) 주석을 갖고 있는 파일
        * skiprows 인수 - 파일의 시작부터 무시할 행 수 또는 무시할 행 번호가 담긴 리스트

In [22]:
# !cat examples/ex4.csv
pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    6) 누락된 값이 있는 파일 : 비어 있는 문자열, NA, NULL을 NaN으로 출력 
        * na_values 인수 - NA 값으로 처리할 값들의 목록

In [27]:
# !cat examples/ex5.csv

result = pd.read_csv("examples/ex5.csv")
result
# 1) 누락된 값을 확인 : isna(), isnull() : 결측치 True, isnot(), notNa(): 결측치가 아닌것 True
pd.isna(result)

# # 2) na_values -> 컬럼별 문자열 집합을 받아서 누락된 값 처리
sentinels = {"message": ["foo", "NA"], "something": ["two"]}
result = pd.read_csv("examples/ex5.csv", na_values=sentinels)
print(result)
result.isna()

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

   something      a      b      c      d  message
0      False  False  False  False  False     True
1       True  False  False   True  False    False
2      False  False  False  False  False     True

    7) 텍스트 파일 조금씩 
        * nrows 인수 - 파일의 첫 일부만 읽어올 때 처음 몇 줄을 읽을 것인지 지정 
        * chunksize 인수 - TextParser 객체에서 사용할 한 번에 읽을 파일의 크기

In [31]:
#pd.options.display.max_rows = 10
# result = pd.read_csv("examples/ex6.csv")
# result
result = pd.read_csv("examples/ex6.csv", nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

### [예제]  ex6.csv 파일의 "key" 컬럼의 값들에 대한 빈도수을 계산하기

In [40]:
# !cat examples/ex6.csv
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)
chunker
tot = pd.Series([], dtype='int64')

# "key" 칼럼의 값들에 대한 누적의 합
for piece in chunker: # 10번 반복 수행
    # print(piece["key"].value_counts())
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot

tot = tot.sort_values(ascending=False)
tot
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [37]:
# 시리즈 간 연산
from pandas import Series
tot = Series([], dtype='int64')
tot1 = Series([1,2,3])
#tot + tot1
for i in range(3):
    tot = tot.add(tot1, fill_value = 0)

tot

0    3.0
1    6.0
2    9.0
dtype: float64

## 1.2. csv 텍스트 파일 저장하기
* 판다스에서 CSV 파일을 저장하기: df.to_csv(path, encoding = 'utf-8') 함수를 사용
    * path 인수 : 파일시스템에서의 위치, URL, 파일객체를 나타내는 문자열
    * encoding 인수 - 유니코드 인코딩 종류을 지정

In [42]:
# csv 파일로 저장
# 1. 데이터프레임 준비
data = pd.read_csv("examples/ex5.csv") # 원본에 대한 데이터프레임
data
data1 = data[['a','b','d']] # 컬럼 인덱싱 이용 데이터 추출
data1

# 2. 데이터프레임을 파일로 저장
data1.to_csv("examples/out.csv")

In [12]:
data.to_csv("examples/out.csv", sep="|") # 구분자 사용
data1.to_csv("examples/out.csv", na_rep = "NULL") #누락된 값을 원하는 값으로 지정
data.to_csv("examples/out.csv", index=False, header=False)
data.to_csv("examples/out.csv", index=False, columns=["a", "b", "c"])

# 2. JSON  데이터
* JSON(JavaScript Object Notation)은 텍스트 데이터를 저장하고 전송하기 위한 일반적인 형식
* 주로 웹에서 데이터를 전송하거나 저장하는 데 사용
* JSON 파일은 일반적으로 텍스트 형식으로 작성되며, 사람과 기계 모두 이해하기 쉽다.
* JSON 파일은 키-값 쌍의 모음으로 구성
  * 키-값 쌍은 객체(object)라고도 하며, 중괄호 {} 로 묶는다.
  * 배열(array)은 대괄호 [] 안에 값의 목록을 나열하여 정의.

## 2.1 JSON 데이터 읽기/저장
    * pandas의 to_json() -> 데이터프레임을 JSON 파일로 저
    * read_json() -> JSON 파일에서 데이터프레임을 읽어오기

### [예제]  pandas의 to_json() 및 read_json() 메서드를 사용하여 데이터프레임을 JSON 파일로 저장하고 읽기

In [46]:
import pandas as pd

# 1. JSON 파일로 저장할 데이터프레임 생성
data = {
    "name": ["John", "Alice", "Bob"],
    "age": [30, 25, 35],
    "city": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# 2. 데이터프레임을 JSON 파일로 저장
df.to_json("examples/data.json")

# 3. JSON 파일을 읽어와 데이터프레임으로 변환
df_read = pd.read_json("examples/data.json")

print("Original DataFrame:")
print(df)

print("\nDataFrame from JSON file:")
print(df_read)

Original DataFrame:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2    Bob   35      Chicago

DataFrame from JSON file:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2    Bob   35      Chicago

# 3. HTML 데이터
## 3.1 웹 스크래핑 - read_html()

* read_html() - html 문서 내 테이블 데이터 읽어 테이블 구조의 모든 데이터를 데이터프레임으로 저장해서 반환
    * https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/

#### [예제] 미국 예금 보험 공사에서 부도 은행을 보여주는 HTML 문서의 테이블 데이터 읽어오기
    * 연도별로 부도 은행의 개수을 계산하시오.

In [51]:
pip install lxml

Requirement already satisfied: lxml in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (5.2.1)
Note: you may need to restart the kernel to use updated packages.

In [56]:
import pandas as pd

#tables = pd.read_html("examples/fdic_failed_bank_list.html") 
tables = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")
type(tables)
len(tables)
failures = tables[0]
failures
type(failures)
failures.head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
3,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
4,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539

In [57]:
# 2. 연도별로 부도 은행의 개수 : DataFrame 가공
# 1) 컬럼명 확인/ 수정하기 / 확인
failures.columns
failures.columns = ['BankNameBank', 'CityCity', 'StateSt', 'CertCert',
       'AcquiringInstitutionAI', 'ClosingDate', 'FundFund']
failures.head(3)

,BankNameBank,CityCity,StateSt,CertCert,AcquiringInstitutionAI,ClosingDate,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543

In [58]:
# 2) 데이터 변환 : 문자열 -> datetime
failures["ClosingDate"] # 컬럼 인덱싱을 이용해서 시리즈로 추출
close_timestamps = pd.to_datetime(failures["ClosingDate"])
close_timestamps
# 3) 년도별 데이터 개수 추출
close_timestamps.dt.year
close_timestamps.dt.year.value_counts()

ClosingDate
2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2023      5
2016      5
2020      4
2004      4
2019      4
2001      4
2007      3
2003      3
2000      2
Name: count, dtype: int64

#### [문제] : 네이버 주식 데이터을 스크래핑하여 csv파일로 저장하기 - read_html()
* https://www.naver.com/ -> 증권 -> 국내증시 -> 시가총액
    * https://finance.naver.com/sise/sise_market_sum.naver

In [59]:
!pip install html5lib  lxml

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: lxml in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (5.2.1)
Requirement already satisfied: six>=1.9 in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------- ----------------------------- 30.7/112.2 kB ? eta -:--:--
   ------------------------------------ --- 102.4/112.2 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 112.2/112.2 kB 1.6 MB/s eta 0:00:00
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [66]:
import pandas as pd
# 1) 웹페이지 읽어오기
# 'euc-kr' 또는 'cp949'로 인코딩 설정하여 페이지 읽기 시도
df_list = pd.read_html("https://finance.naver.com/sise/sise_market_sum.naver", encoding = 'cp949')
df_list
type(df_list) # 인덱싱
# 데이터프레임 확인
for df in df_list:
    print("\n",df)

C:\Users\Yeon Je Chan\AppData\Local\Programs\Python\Python312\Lib\site-packages\bs4\__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

      0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)

        N       종목명       현재가     전일비     등락률     액면가       시가총액      상장주식수  \
0    NaN       NaN       NaN     NaN     NaN     NaN        NaN        NaN
1    1.0      삼성전자   85300.0  1200.0  +1.43%   100.0  5092225.0  5969783.0
2    2.0    SK하이닉스  188000.0  8800.0  +4.91%  5000.0  1368644.0   728002.0
3    3.0  LG에너지솔루션  379500.0  3500.0  +0.93%   500.0   888030.0   234000.0
4    4.0  삼성바이오로직스  817000.0  5000.0  +0.62%  2500.0   581492.0    71174.0
..   ...       ...       ...     ...     ...     ...        ...        ...
76  49.0      한화오션   25850.0  1900.0  -6.85%  5000.0    79194.0   306359.0
77  50.0      대한항공   21250.0   250.0  -1.16%  5000.0    78247.0   368221.0
78   NaN       NaN       NaN     NaN     NaN     NaN        NaN        NaN
79   NaN       NaN       NaN     NaN     NaN     NaN        NaN        NaN
80   NaN       NaN       NaN     NaN     NaN     NaN        NaN        NaN

    외국인비율         거래량    PER    ROE  토론실
0     NaN         NaN    NaN    NaN  NaN
1   55.61  24810196.0  40.03   4.15  NaN
2   54.63   4612601.0 -15.02 -15.61  NaN
3    4.92    174230.0  71.78   6.36  NaN
4   12.01     34503.0  67.80   9.12  NaN
..    ...         ...    ...    ...  ...
76  16.99   4540621.0  34.15   6.33  NaN
77  16.68    948266.0   7.40  11.46  NaN
78    NaN         NaN    NaN    NaN  NaN
79    NaN         NaN    NaN    NaN  NaN
80    NaN         NaN    NaN    NaN  NaN

[81 rows x 13 columns]

    0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

In [69]:
# 2) 데이터프레임 기공: csv파일로 저장하기
df = df_list[1]
type(df)
df.head(10)
# 1) 데이터프레임 탐색: 종목명 컬럼명으로 인덱싱 - NaN처리
df['종목명']
# 2) 조건색인
cond = df['종목명'].notnull() # 불리언 시리즈
data = df[cond] # 불리언색인을 이용하여 필터링
data
data.head()
#3) 데이터프레임 저장
data.to_csv("Naver_kospi.csv")

## 3.2 웹 스크래핑 - requests

* 웹 페이지 정보 가져오기 - requests 패키지 이용
  * requests.get()
  * requests.get().status_code
  * requests.get().text

### [예제] 패키지 requests을 활용하여 웹페이지 json 데이터을 데이터프레임으로 변환하기

In [70]:
pip install requests

Requirement already satisfied: requests in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [74]:
import requests
# 1. 타켓 웹사이트 접속
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
resp.status_code
# 2. 웹페이지 콘텐츠 읽어오기
resp.text #문자열로 변환
#pd.read_html(url)
# 3. json 내용을 딕셔너리로 변환
data = resp.json() # json의 내용을 딕셔너리 형태로 변환한 객체을 반환
data
type(data)
len(data)
data[0].keys()
# data[0]['title']
# data[0].keys() # 키 정보 출력
# 4. 딕셔너리를 DataFrame으로 생성하기
# issues = pd.DataFrame(data, columns=["number", "title",
#                                       "labels", "state"])
# issues.head()

dict_keys(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url', 'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels', 'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments', 'created_at', 'updated_at', 'closed_at', 'author_association', 'active_lock_reason', 'body', 'reactions', 'timeline_url', 'performed_via_github_app', 'state_reason'])

### [문제] 네이버 블로그의 키워드 관련 검색 결과 텍스트 데이터 가져오기 - requests 모듈 사용시 한계점

In [75]:
import requests
url = https://section.blog.naver.com/Search/Post.naver?pageNo=1&rangeType=ALL&orderBy=sim&keyword=%ED%8C%8C%EC%9D%B4%EC%8D%AC

# params = {
#     'pageNo' : 1,
#     'rangeType' : 'ALL',
#     'orderBy' : 'sim',
#     'keyword' : '파이썬'
# }

# response = requests.get('https://section.blog.naver.com/Search/Post.naver?', params=params)
response = requests.get(url)
print(response.status_code) # HTTP GET 방식으로 URL 파라미터 값 전달
print(response.url) # status_code 는 응답코드
print(response.text) # text에는 HTML 코드

SyntaxError: invalid decimal literal (481478602.py, line 2)

## 3.3 웹 스크래핑 - beautifulsoup
* 웹 페이지 정보 추출하기 - beautifulsoup 사용법 
  * soup.select_one()
  * soup.select()
  * get_text()
  * get_attribute()
* 개발자 도구 사용

In [76]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\yeon je chan\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

### [문제] 네이버 지식iN의 검색어 관련 검색 결과 제목 가져오기

In [80]:
import requests
from bs4 import BeautifulSoup
# 타켓 웹사이트 지정
url = 'https://kin.naver.com/search/list.naver?query=%ED%8C%8C%EC%9D%B4%EC%8D%AC'

# 웹사이트 로딩 / 추출
response = requests.get(url)

if response.status_code == 200:
    # html -> beautifulsoup 객체로 변환
    soup = BeautifulSoup(response.text, 'html.parser')

    # 제목 한개 선택하여 텍스트 가져오기
    # s_content > div.section > ul > li:nth-child(1) > dl > dt > a
    title = soup.select_one('#s_content > div.section > ul > li:nth-child(1) > dl > dt > a')
    #print(title)
    print(title.get_text())
    print(title.get_attribute_list("href"))

    # 제목 여러 개 선택하여 텍스트 리스트 가져오기
    #s_content > div.section > ul > li:nth-child(2) > dl > dt > a
    #s_content > div.section > ul > li:nth-child(3) > dl > dt > a
    titles = soup.select('#s_content > div.section > ul > li:nth-child(n) > dl > dt > a')
    for title in titles:
        print("\n",title.get_text())
        print("\n",title.get_attribute_list("href"))
else : 
    print(response.status_code)

비주얼스튜디오코드 파이썬 질문합니다,
['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=10402&docId=463767072&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=1&search_sort=0&spq=0']

 비주얼스튜디오코드 파이썬 질문합니다,

 ['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=10402&docId=463767072&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=1&search_sort=0&spq=0']

 맥북 파이썬 idel

 ['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=101&docId=464461438&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=2&search_sort=0&spq=0']

 파이썬 모듈 미리 불러오기

 ['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=1040104&docId=467081620&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=3&search_sort=0&spq=0']

 파이썬과 자바

 ['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=1040201&docId=466335010&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=4&search_sort=0&spq=0']

 파이썬 질문...

 ['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=10402&docId=467335944&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=5&search_sort=0&spq=0']

 IDLE 파이썬 단축키 알려주세요

 ['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=10402&docId=465907571&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=6&search_sort=0&spq=0']

 파이썬강좌 독학할때 뭐보나요??

 ['https://kin.naver.com/qna/detail.naver?d1id=11&dirId=110704&docId=465312496&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=7&search_sort=0&spq=0']

 파이썬이 미래에 도움이 될까요?

 ['https://kin.naver.com/qna/detail.naver?d1id=3&dirId=31302&docId=466334742&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=8&search_sort=0&spq=0']

 파이썬독학할 때 어떻게 공부를...

 ['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=104&docId=459932179&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=9&search_sort=0&spq=0']

 파이썬강의 듣는데가 있나요?

 ['https://kin.naver.com/qna/detail.naver?d1id=1&dirId=101&docId=464435194&qb=7YyM7J207I2s&enc=utf8§ion=kin&rank=10&search_sort=0&spq=0']

## 3.4 웹 스크래핑 - Selenium을 이용하여 사이트 자동화하기
* selenium 사용법
  1. 시스템의 OS 및 Chrome 브라우저의 버전 확인
  2. Chrome 드라이버 다운로드 및 설치
  3. 크롬 드라이버을 프로젝트 폴더에 저장 - 크롬 드라이버의 설치 경로
     * from selenium import webdriver
     * driver = webdriver.Chrome()
* 동적으로 웹 페이지 정보 추출하기
     * driver.get("웹주소")

### [예제] 패키지 Selenium을 활용하여 특정 웹사이트 자동으로 열기

In [24]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.1)
Requirement already satisfied: trio~=0.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (3.6)
Requirement already satisfied: outcome in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [26]:
from selenium import webdriver
# Chrome 브라우저 실행
driver = webdriver.Chrome()
# 웹페이지 열기
url = "https://www.google.com"
driver.get(url)

### [문제] 패키지 Selenium을 활용하여 타겟 웹사이트 자동으로 열기/ 쿼리로 검색하기/ 검색 결과의 제목과 url을 자동으로 추출하여 저장하는 web crawler 만들기
    * 사전 준비 작업 : 타겟 웹사이트을 구글 개발도구을 이용하여 탐색하기

In [27]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

# Chrome 브라우저 실행
driver = webdriver.Chrome()

# Google 홈페이지 열기
url = "https://www.google.com"
driver.get(url)

# 페이지가 완전히 로드될 때까지 2초 대기
time.sleep(5)

try:
    # 검색 상자 요소 찾기
    search_box = driver.find_element(By.NAME, "q")

    # 검색어 입력
    search_query = "OpenAI"
    search_box.send_keys(search_query)

    # Enter 키를 눌러 검색 수행
    search_box.send_keys(Keys.RETURN)

    # 검색 결과가 로드될 때까지 5초 대기
    time.sleep(5)

    # 검색 결과 추출
    search_results = driver.find_elements(By.CSS_SELECTOR, "div.g")

    # 검색 결과의 제목과 URL 인쇄
    for result in search_results:
        title = result.find_element(By.CSS_SELECTOR, "h3").text
        url = result.find_element(By.CSS_SELECTOR, "a").get_attribute("href")
        print("제목:", title)
        print("URL:", url)
        print()

except Exception as e:
    print("오류가 발생했습니다:", e)

finally:
    # 브라우저 창 닫기
    driver.quit()

제목: OpenAI
URL: https://openai.com/

제목: OpenAI
URL: https://openai.com/

제목: OpenAI
URL: https://namu.wiki/w/OpenAI

제목: OpenAI
URL: https://en.wikipedia.org/wiki/OpenAI

제목: 오픈AI - 위키백과, 우리 모두의 백과사전
URL: https://ko.wikipedia.org/wiki/%EC%98%A4%ED%94%88AI

제목: OpenAI
URL: https://twitter.com/OpenAI

제목: OpenAI
URL: https://www.youtube.com/@OpenAI

제목: OpenAI
URL: https://www.linkedin.com/company/openai

제목: 설명
URL: https://www.google.com/search?q=OpenAI&sca_esv=2677688350dc5440&sca_upv=1&source=hp&ei=zmENZuTsNPXt1e8PsZiD8AU&iflsig=ANes7DEAAAAAZg1v3jtof4ODacYG44nksvbGEv5iyLUp&udm=&ved=0ahUKEwjki7uNm6aFAxX1dvUHHTHMAF4Q4dUDCA8&uact=5&oq=OpenAI&gs_lp=Egdnd3Mtd2l6IgZPcGVuQUlIPFAAWBBwAHgAkAEAmAEAoAEAqgEAuAEDyAEA-AEBmAIAoAIAmAMAkgcAoAcA&sclient=gws-wiz#